:root{
    /* FONT SIZES  */
    --size-xxs:0.5rem; /* 8px */
    --size-xs:0.75rem;/* 12px */
    --size-sm:0.875rem;/* 14px */
    --size-base:1rem;/* 16px */
    --size-lg:1.125rem; /* 18px */
    --size-xl:1.25rem;/* 20px */
    --size-2xl:1.5rem;/* 24px */
    --size-3xl:1.875rem;/* 30px */
    --size-4xl:2.25rem;/* 36px */
    --size-5xl:3rem;/* 48px */
    --size-6xl:3.75rem;/* 60px */
    --size-7xl:4.5rem;/* 72px */
    --size-8xl:6rem;/* 96px */
    --size-9xl:8rem;/* 128px */
    --size-10xl:10rem;/* 160px */

}
*{
    margin: 0;
    padding: 0;
}
*::selection{
    background-color: blue;
    color: white;
}
html{
    scroll-behavior:smooth;
}
html::selection{
    color: blue;
}
body{
    font-family: Futura PT Book,futura std;
    overflow-x: hidden;
}
img,canvas,picture,video,svg{
    display: block;
    max-width: 100%;
    user-select: none;
}
strong{
    color:blue;
    font-weight: 500;
}
.line{
    border: 1px solid lightgray;
    width: 100vw;
}
.gap{
    margin-bottom: 8rem;
}   
.description{
    max-width: 80ch;
    margin: 0 auto;
    margin-top:8rem ;
}
.title{
    text-align: left !important;
    font-size: var(--size-3xl);
    font-weight: 500;
    margin-bottom: 1.5rem;
    letter-spacing: -0.02em;
}
.subtitle{
    text-align: left !important;
    font-size: var(--size-xl);
}
